# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Intellij IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows 10
/System Volume Information/

# Windows image file caches
*.stackdump
*.lnk

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Linux backup files
.*.swp
.*.swo
.*.bak

# Other editors
*~

# maven
target/

# JavaFX
*/jfx/app
*/jfx/preloader
*/jfx/sandbox

# Eclipse
.metadata/
bin/
tmp/
tmp2/
*.tmp
*.swp

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nblibraries.properties

# Intellij IDEA
.idea/
*.iws
*.iml
*.ipr
out/
